<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>TestTemplateSite</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
  <div class="container">
    <h1>Cadastro de Usuários</h1>
    <form id="formUsuario">
      <input type="text" id="nomeUsuario" placeholder="Nome" required>
      <input type="email" id="emailUsuario" placeholder="Email" required>
      <button type="submit">Salvar</button>
      <button onclick="location.href='/ver_usuarios'">Ver Usuarios</button>
    </form>
    <p class="msg" id="msgUsuario"></p>
    <button onclick="location.href='/'">Voltar</button>
  </div> 
  
  <footer class="rodape">Feito por Forever</footer>
</body>
</html>
