<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>TestTemplateSite</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
  <div class="container">
    <h1>Usuários Cadastrados</h1>
    <ul id="listaUsuarios"></ul>
    <p class="msg_cadastro" id="msgCadastro"></p>
    <button onclick="location.href='/usuarios'">Voltar ao Cadastro de Usuários</button>
    <button onclick="location.href='/'">Voltar à Tela Inicial</button>
  </div> 
</body>
</html>
